@import "@fontsource/geist-sans/latin.css";
@import "@fontsource/geist-mono";

@import "tailwindcss";
@plugin "@tailwindcss/typography";
<<<<<<< HEAD
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "moojing-light";
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(93% 0.032 255.585);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(0.801 0.142 255.9);
  --color-primary-content: oklch(28% 0.091 267.935);
  --color-secondary: oklch(0.5889 0.2199 265.39);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(20% 0.042 265.755);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.3125rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "moojing-dark";
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(27% 0.041 260.031);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(0.5889 0.2199 265.39);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(0.801 0.142 255.9);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(0.801 0.142 255.9);
  --color-accent-content: oklch(26% 0.065 152.934);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(97% 0.013 17.38);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.3125rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}


@theme {
  --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, monospace;
=======

@import "geist/font/sans";
@import "geist/font/mono";

@theme {
  --font-family-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: "Geist Mono", ui-monospace, monospace;
>>>>>>> 4ef3def021b4db974b1aa42c4737f478e3405d9a
}
