---
import MainLayout from "@layouts/MainLayout.astro";
import { Button } from "@components/starwind/button";

// SEO metadata
export const seoMeta = {
    title: "Coming Soon",
    description: "Our website is coming soon. Stay tuned for updates!",
    canonical: "/",
};

// Navigation metadata
export const navMeta = {
    title: "Home",
    menuOrder: 1,
};
---

<MainLayout {seoMeta}>
    <div
        class="container mx-auto flex min-h-screen max-w-4xl flex-col items-center justify-center px-4 text-center"
    >
        <h1 class="text-5xl font-black">Coming Soon</h1>
        <p class="text-muted-foreground mt-4 text-xl">
            Our website is under construction. Stay tuned for exciting updates!
        </p>
        <Button href="style-guide" variant="secondary"> Hello </Button>
    </div>
</MainLayout>
