---
import BaseHead from "@components/BaseHead.astro";
import "../styles/global.css";
import "@tailwindplus/elements";

export interface Props {
    title?: string;
    description?: string;
    canonical?: string;
    image?: string;
    imageAlt?: string;
    type?: "website" | "article";
    noindex?: boolean;
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <BaseHead {...Astro.props} />
    </head>
    <body>
        <slot />
    </body>
</html>
